.form {
    width: 100%;
    max-width: 600px;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    width: 100%;
    max-width: 250px;
}

.buttonLogin {
    width: 100%;
    max-width: 180px;
}

.down {
    padding-top: 20px;
    border-top: 1px solid var(--border-color);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text {
    font-weight: 400;
    color: var(--secondary-text);
}