.item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    transition: 0.2s;
    
    &:hover {
        background-color: var(--white-transparent);
    }
}

.elem {
    color: var(--white);
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
}

.text {
    font-weight: 400;
    color: var(--white);
    font-size: 18px;
}

.item--active {
    background-color: var(--blue-hover-transparent);

    &:hover {
        background-color: var(--blue-transparent);
    }

}

.center {
    justify-content: center;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1022px) {
    .hidden {
        display: block;
    }

    .center {
        justify-content: flex-start;
    }
}